@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap');

:root {
    --roxo-claro: #caa8f5ff;
    --roxo-tropical-pobre: #9984d4ff;
    --roxo-levemente-escuro: #592e83ff;
    --roxo-escuro: #230c33ff;
    --titulo: "Bitcount Prop Double Ink", system-ui;
    --texto: "Alan Sans", sans-serif;
}

body {
    background-color: var(--roxo-claro);
    font-family: var(--texto);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}

button {
    font-family: var(--titulo);
    background-color: var(--roxo-levemente-escuro);
    color: var(--roxo-tropical-pobre);
    border: 2px solid var(--roxo-escuro);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 27%;
    font-size: 20px;
}
button:hover{
    background-color: var(--roxo-levemente-escuro);
    color: var(--roxo-escuro);
    transition: 0.5s;
}

.passo{
    font-size: 24px;
    display: none;
}

.passo.ativo{
    display: block;
}